/* 
general.html
*/

*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

body{
    display: flex;
    min-height: 100vh;
    
}


/* side-bar */


.side-bar{
    width: 80px;
    height: 100%;
    background-color: #f4f2f2;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    bottom: 0;
    font-size: 12px;
  
  }
  .single-item{
    display: flex;
    align-items: center;
    padding: 8px;
    flex-flow: column wrap;
  
  }
  .single-item:hover{
    background-color: #c2bdbd;
    cursor: pointer;
  }

  .single-item>img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    object-fit: cover;
  
  }

  .three-dots-mac{
    object-fit: contain;
    padding: 0;
  }


.question-mark{
    margin-bottom:20px;
    border-radius: 80%;
    padding-top:4px;
    padding-bottom: 4px;
    padding-left: 0;
    padding-right: 0; 
    display: flex;
    justify-content: center;
    align-items: center;

}

.question-mark>img{
    object-fit: cover;
    width: 16px;
    
}
  .side-bar-profile{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .profile-picture-left-bottom{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
  
  }

  .left-image-bottom::after{
    content: '';
    background-color: rgb(18, 243, 18);
    display: inline-block;
    width: 9px;
    height: 9px;
    position: absolute;
    bottom:6px;
    right: 0;
    border-radius: 10px;
    
  }

